<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="./tests/bootstrap.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  forceCoversAnnotation="false"
  processIsolation="false"
  stopOnFailure="true"
  verbose="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">./lib/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="unbabble">
      <directory suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="MINUTE_IN_SECONDS" value="60" />
    <const name="WP_DEBUG" value="false" />
  </php>
</phpunit>
